openapi: 3.2.0
info:
  title: Tray Permissions API
  version: 1.0.0
  x-logo:
    url: ../images/tray-dev-logo.svg
    altText: Tray.ai logo
  description:
    $ref: descriptions/trayapi/tags/permissions.md
servers:
- url: https://api.tray.io
  description: US
- url: https://api.eu1.tray.io
  description: EU
- url: https://api.ap1.tray.io
  description: APAC
security:
- bearerAuth: []
tags:
- name: Permissions
  x-displayName: Permissions
  description:
    $ref: descriptions/trayapi/tags/permissions.md
paths:
  /cdk/v1/permissions/connectors/{connector-name}/versions/{connector-version}/share-with-emails:
    post:
      operationId: share-with-emails
      summary: Share with emails
      description:
        $ref: descriptions/trayapi/endpoints/permissions/shareWithEmails.md
      tags:
      - Permissions
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
        description: The RBAC token. Follow this [page](https://docs.tray.ai/platform/enterprise-core/organisation-management/api-users-tokens) to know how to generate one.
        example: Bearer 3fd74d349xxxxxxxxxxxxxxxxxxxxxxxxd90df521
      - in: path
        name: connector-name
        required: true
        schema:
          type: string
        description: The hypenated name of the connector being deployed.
        example: my-connector
      - in: path
        name: connector-version
        required: true
        schema:
          type: string
        description: The version of the connector being deployed.
        example: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareWithEmailsRequest'
            example:
              emails:
              - john.doe@domain.com
              - jane.doe@domain.com
      responses:
        200:
          description: OK - Connector version was succesfully shared with users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareWithEmailsResponse'
              example:
                message: 2 permissions added
        400:
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestFailed'
        401:
          description: Unauthorized - Verify the token validity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestFailed'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestFailed'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestFailed'
        429:
          description: Limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestFailed'
        500:
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestFailed'
components:
  schemas:
    ShareWithEmailsRequest:
      title: ShareWithEmailsRequest
      type: object
      required:
      - emails
      properties:
        emails:
          type: array
          items:
            type: string
    RequestFailed:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    ShareWithEmailsResponse:
      title: ShareWithEmailsResponse
      type: object
      required:
      - message
      properties:
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-tagGroups:
- name: Introduction
  tags:
  - overview
  - authentication
  - regionality
  - collection
  - rate-limits
- name: Core
  tags:
  - authentications
  - connectors
  - triggers
  - workspaces
  - users
  - projects
  - solutions
- name: CDK
  tags:
  - deployments
  - permissions
- name: On Premise
  tags:
  - agent-groups
  - agent-instances
