openapi: 3.2.0
info:
  title: Tray Agent Instances API
  version: 1.0.0
  x-logo:
    url: ../images/tray-dev-logo.svg
    altText: Tray.ai logo
  description:
    $ref: descriptions/trayapi/tags/agent-instances.md
servers:
- url: https://api.tray.io
  description: US
- url: https://api.eu1.tray.io
  description: EU
- url: https://api.ap1.tray.io
  description: APAC
security:
- bearerAuth: []
tags:
- name: agent-instances
  x-displayName: Agent Instances
  description:
    $ref: descriptions/trayapi/tags/agent-instances.md
paths:
  /core/v1/workspaces/{workspace-id}/on-prem-agent-groups/{agent-group-id}/agents:
    get:
      operationId: getCoreV1WorkspacesWorkspace-idOn-prem-agent-groupsAgent-group-idAgents
      summary: List Agents
      description: Returns paginated list of agent instances from an agent group using `agent-group-id` and `workspace-id`
      tags:
      - agent-instances
      parameters:
      - name: workspace-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-group-id
        in: path
        required: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePage_PublicOnPremAgentInstanceHttpResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeout'
        '409':
          description: Concurrency Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrencyConflict'
        '413':
          description: Content Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLarge'
        '429':
          description: Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceeded'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
    post:
      operationId: postCoreV1WorkspacesWorkspace-idOn-prem-agent-groupsAgent-group-idAgents
      summary: Create Agent
      description: Adds an agent instance under an agent group using `agent-group-id` and `workspace-id`
      tags:
      - agent-instances
      parameters:
      - name: workspace-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-group-id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicCreateOnPremAgentInstanceHttpRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCreateOnPremAgentInstanceHttpResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeout'
        '409':
          description: Concurrency Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrencyConflict'
        '413':
          description: Content Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLarge'
        '429':
          description: Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceeded'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
  /core/v1/workspaces/{workspace-id}/on-prem-agent-groups/{agent-group-id}/agents/{agent-id}:
    get:
      operationId: getCoreV1WorkspacesWorkspace-idOn-prem-agent-groupsAgent-group-idAgentsAgent-id
      summary: Retrieve Agent
      description: Get details of an agent instance using `agent-id`
      tags:
      - agent-instances
      parameters:
      - name: workspace-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-group-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOnPremAgentInstanceHttpResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeout'
        '409':
          description: Concurrency Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrencyConflict'
        '413':
          description: Content Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLarge'
        '429':
          description: Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceeded'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
    patch:
      operationId: patchCoreV1WorkspacesWorkspace-idOn-prem-agent-groupsAgent-group-idAgentsAgent-id
      summary: Update Agent
      description: Updates an agent instance using `agent-id`
      tags:
      - agent-instances
      parameters:
      - name: workspace-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-group-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicUpdateOnPremAgentInstanceHttpRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicOnPremAgentInstanceHttpResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeout'
        '409':
          description: Concurrency Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrencyConflict'
        '413':
          description: Content Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLarge'
        '429':
          description: Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceeded'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
    delete:
      operationId: deleteCoreV1WorkspacesWorkspace-idOn-prem-agent-groupsAgent-group-idAgentsAgent-id
      summary: Delete Agent
      description: Delete an agent instance using `agent-id`
      tags:
      - agent-instances
      parameters:
      - name: workspace-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-group-id
        in: path
        required: true
        schema:
          type: string
      - name: agent-id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInput'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFound'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Timeout'
        '409':
          description: Concurrency Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConcurrencyConflict'
        '413':
          description: Content Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLarge'
        '429':
          description: Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitExceeded'
        '500':
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
components:
  schemas:
    ConcurrencyConflict:
      title: ConcurrencyConflict
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    Unauthorized:
      title: Unauthorized
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    Forbidden:
      title: Forbidden
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    ContentTooLarge:
      title: ContentTooLarge
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    PublicOnPremAgentInstanceHttpResponse:
      title: PublicOnPremAgentInstanceHttpResponse
      type: object
      required:
      - id
      - agentGroupId
      - name
      - registered
      - connected
      - enabled
      properties:
        id:
          type: string
        agentGroupId:
          type: string
        name:
          type: string
        registered:
          type: boolean
        connected:
          type: boolean
        enabled:
          type: boolean
    InvalidInput:
      title: InvalidInput
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    PublicCreateOnPremAgentInstanceHttpRequest:
      title: PublicCreateOnPremAgentInstanceHttpRequest
      type: object
      required:
      - name
      properties:
        name:
          type: string
    LimitExceeded:
      title: LimitExceeded
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    ResourceNotFound:
      title: ResourceNotFound
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    Timeout:
      title: Timeout
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    BasePageInfo_PublicOnPremAgentInstanceHttpResponse:
      title: BasePageInfo_PublicOnPremAgentInstanceHttpResponse
      type: object
      properties:
        startCursor:
          type: string
        endCursor:
          type: string
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
    PublicUpdateOnPremAgentInstanceHttpRequest:
      title: PublicUpdateOnPremAgentInstanceHttpRequest
      type: object
      properties:
        enabled:
          type: boolean
    InternalError:
      title: InternalError
      type: object
      required:
      - message
      properties:
        message:
          type: string
        code:
          type: string
    BasePage_PublicOnPremAgentInstanceHttpResponse:
      title: BasePage_PublicOnPremAgentInstanceHttpResponse
      type: object
      required:
      - pageInfo
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/PublicOnPremAgentInstanceHttpResponse'
        pageInfo:
          $ref: '#/components/schemas/BasePageInfo_PublicOnPremAgentInstanceHttpResponse'
    PublicCreateOnPremAgentInstanceHttpResponse:
      title: PublicCreateOnPremAgentInstanceHttpResponse
      type: object
      required:
      - id
      - agentGroupId
      - name
      - registrationToken
      properties:
        id:
          type: string
        agentGroupId:
          type: string
        name:
          type: string
        registrationToken:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-tagGroups:
- name: Introduction
  tags:
  - overview
  - authentication
  - regionality
  - collection
  - rate-limits
- name: Core
  tags:
  - authentications
  - connectors
  - triggers
  - workspaces
  - users
  - projects
  - solutions
- name: CDK
  tags:
  - deployments
  - permissions
- name: On Premise
  tags:
  - agent-groups
  - agent-instances
