openapi: 3.1.0
info:
  title: Tray.ai Embedded Authentication Deployments API
  description: 'The Tray.ai Embedded API is a GraphQL-based API that allows partners and customers to present in-app embedded integration experiences using Tray''s UI components. It provides programmatic access to manage users, solutions, solution instances, authentications, workflows, and connector operations. All API calls are made via HTTP POST to the GraphQL endpoint with Bearer token authentication. The API supports two token types: master tokens (for admin operations like managing users) and user tokens (for user-scoped operations like managing solution instances). This is a backend-only API; client-side JavaScript calls are blocked by CORS.'
  version: 1.0.0
  contact:
    name: Tray.ai Support
    url: https://tray.ai
  termsOfService: https://tray.ai/terms
  license:
    name: Proprietary
    url: https://tray.ai/terms
servers:
- url: https://tray.io
  description: US Region (Default)
- url: https://eu1.tray.io
  description: EU Region
- url: https://ap1.tray.io
  description: APAC Region
security:
- bearerAuth: []
tags:
- name: Deployments
  description: Deploy CDK (Connector Development Kit) connectors to the Tray platform.
paths:
  /connectors/{connectorName}/versions/{connectorVersion}/deploy:
    post:
      operationId: deployConnector
      summary: Tray.ai Deploy CDK Connector
      description: Deploys a CDK (Connector Development Kit) connector to the Tray platform. The connector name and version must match those defined in connector.json.
      tags:
      - Deployments
      parameters:
      - name: connectorName
        in: path
        required: true
        schema:
          type: string
        description: The name of the CDK connector to deploy
      - name: connectorVersion
        in: path
        required: true
        schema:
          type: string
        description: The version of the CDK connector to deploy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectorBundle:
                  type: string
                  description: The bundled connector code for deployment
      responses:
        '200':
          description: Connector deployed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  connectorName:
                    type: string
                  connectorVersion:
                    type: string
                  status:
                    type: string
        '400':
          description: Invalid deployment request
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failed. The bearer token is missing, invalid, or does not have sufficient permissions for the requested operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type
        message:
          type: string
          description: Human-readable error message
        statusCode:
          type: integer
          description: HTTP status code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Use either a master token (obtained from Tray Embedded UI settings) or a user token (obtained via the authorize mutation). Master tokens are required for admin operations like managing users. User tokens are required for user-scoped operations like managing solution instances.
